h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}

.items-container {
  text-align: left;
  margin: 10px 10px;
  padding: 10px 10px;
}
.row-justify-content {
  align-items: center;
  display: flex;
  gap: 101px;
  margin-left: 10px;
  margin-left: 285px;
}
.row-justify-content1 {
  align-items: center;
  display: flex;
  gap: 101px;
  margin-left: 10px;
  margin-left: 326px;
  margin-top: 20px;
}
.kgbutton{
  margin: 7px;

}
